@import "reset.scss";
@import "fonts.scss";
@import "icons.scss";
@import "variables.scss";
@import "mixins.scss";

@import "./portfolio/**/*.scss";

body {
  font-family: $fontFamily;
  max-width: 1152px;
  color: #21243d;
}

.wrapper {
  width: 100%;

  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  // box-sizing: border-box;
  // padding: 0 148px;
}

._container {
  box-sizing: border-box;
  padding: 0 148px;

  @media (max-width: 1151px) {
    padding: 0 12.8%;
  }
  @media (max-width: $md3+px) {
    padding: 0 6%;
  }
  @media (max-width: $md4+px) {
    padding: 0 10px;
  }
}

// @media (max-width: 1151px) {
//   .page {
//     padding: 0 12.8%;
//   }
// }
