.featured-works {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    padding: 15px 0px 22px;
    font-weight: normal;
    font-size: 22px;
    line-height: 60 / 22 * 100%;
    @media (max-width: $md3+px) {
      padding: 3px 0px 2px;
      font-size: 18px;
      align-self: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    // align-items: flex-start;
  }

  &__item {
    @include info-block;
    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }
}

.featured-work {
  &__pic {
    overflow: hidden;
    flex: 0 0 246px;
    height: 180px;
    margin: 0 18px 0 0;
    align-self: center;

    @media (max-width: $md3+px) {
      margin: 0;
      // width: 344px;
      // height: 230px;

      // svg {
      //   width: 344px;
      //   height: 230px;
      // }
    }
  }

  &__content {
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 44 / 30 * 100%;

    @media (max-width: $md3+px) {
      font-size: 24px;
    }
  }
  &__year {
    @include year;
    margin-right: 26px;
    @media (max-width: $md3+px) {
      font-size: 16px;
    }
  }
  &__type {
    font-size: 20px;
    line-height: 29 / 20 * 100%;
    color: #8695a4;

    @media (max-width: $md3+px) {
      font-size: 16px;
    }
  }

  &__year-type {
    display: flex;
    margin: 20px 0px;
  }

  &__text {
  }
}
